/*IMPORT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*SHARED*/
body {
    font-family: 'Poppins', sans-serif;
}

.body-wrapper {
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
    /* min-height: 100vh; */
    /* min-height: 100px;
    max-height: 100px; */
}

.header,
.main,
.main .main-game,
.footer {
    display: flex;
    width: 100%;
}

.header,
.footer {
    padding: 15px;
    background-color: var(--bg-secondary-color);
    justify-content: center;
    text-align: center;
}

:root {
    --black: black;
    --white: white;
    --bg-secondary-color: rgb(223, 223, 223);
}

/*HEADER*/
.header {
}

.header h1 {
    font-size: 24px;
}

/*MAIN*/
.main {
    /*height: calc(100vh - 140px);*/
    /*padding: 15px;*/
    margin: 20px 0px;
}
.main .main-game {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.main .main-game .card {
    cursor: pointer;
    box-shadow: -1px 0px 5px 0px;
    border-radius: 8px;
    padding: 10px;
}

.main .main-game .card img {
    width: 80px;
    height: 80px;
}

/*FOOTER*/
.footer {
}

/*ANIMATIONS*/
.main .main-game .card:hover,
.main .main-game .card:active {
    transform: scale(1.1);
    transition-duration: 0.5s;
}


/*MEDIA QUERIES*/
